<section class="box-model-3">
    <div class="title">
        <h2>سفارش‌های من</h2>
    </div>
    <div>
        <div class="container orders" id="id_user_panel_orders_box">
            <div class="container orders">
                <div><img src="{{media}}images/user_panel/status-processing.svg" alt=""></div>
                <div>
                    <h3> سفارش</h3>
                    <h4>جاری</h4>
                </div>
            </div>
            <div class="container orders">
                <div><img src="{{media}}images/user_panel/status-delivered.svg" alt=""></div>
                <div>
                    <h3> سفارش</h3>
                    <h4>تحویل شده</h4>
                </div>
            </div>
            <div class="container orders">
                <div><img src="{{media}}images/user_panel/status-returned.svg" alt=""></div>
                <div>
                    <h3> سفارش</h3>
                    <h4>جاری</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="box-model-3" id="user_panel_section_2">
    <div class="title">
        <h2>سفارشات پرتکرار</h2>
    </div>
    <div class="container" style="width: 98%;">
        <div class="box-model-1">
            <div>
                <div class="box-model-1-price">
                    <span>100000</span> <span>تومان</span>
                </div>
                <div class="box-model-1-image">
                    <img src="/media/images/foods/L298-IC-Pin-Diagram.png" type="image/jpg" alt="" class="food-image">
                </div>
            </div>
            <div class="box-model-1-title">
                <div><h3>تست</h3></div>
            </div>
            <div class="box-model-1-buttons">
                <div>
                    <span class="btn btn-model-1" onclick="add_to_food_cart(1,1)"><i class="fa fa-shopping-basket"></i></span>
                    <a href="1" class="btn btn-model-1"><i class="fa fa-heart"></i></a>
                    <a href="1" class="btn btn-model-1"><i class="fa fa-send"></i></a>
                </div>
                <div>
                    <a href="/food/show-food/test-food/" class="btn btn-show-more">جزئیات بیشتر</a>
                </div>
            </div>
        </div>    
        <div class="box-model-1">
            <div>
                <div class="box-model-1-price">
                    <span>100000</span> <span>تومان</span>
                </div>
                <div class="box-model-1-image">
                    <img src="/media/images/foods/L298-IC-Pin-Diagram.png" type="image/jpg" alt="" class="food-image">
                </div>
            </div>
            <div class="box-model-1-title">
                <div><h3>تست</h3></div>
            </div>
            <div class="box-model-1-buttons">
                <div>
                    <span class="btn btn-model-1" onclick="add_to_food_cart(1,1)"><i class="fa fa-shopping-basket"></i></span>
                    <a href="1" class="btn btn-model-1"><i class="fa fa-heart"></i></a>
                    <a href="1" class="btn btn-model-1"><i class="fa fa-send"></i></a>
                </div>
                <div>
                    <a href="/food/show-food/test-food/" class="btn btn-show-more">جزئیات بیشتر</a>
                </div>
            </div>
        </div>    
    </div>      
</section>