{% extends 'main_template.html' %}
{% load translate %}
{% load static %}
{% load i18n %}
{% block title %}درباره ما{% endblock title %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
{% endblock stylesheet %}
{% block main %}
    <section id="about_me_section">
        <div id="about_me_div_1">
            <div class="content-about">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.' %}
                </p>
            </div>
        </div>
        <div id="about_me_div_2">
            <div class="content-programmer">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.' %}
                </p>
            </div>
        </div>
        <div id="about_me_div_3">
            <div class="content-future">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.' %}
                </p>
            </div>
        </div>
        <div id="about_me_div_4">
            <div class="content-Earn-foodino">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.' %}
                </p>
            </div>
        </div>
        <div id="about_me_div_5">
            <div class="content-questions">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.' %}
                </p>
            </div>
        </div>
        <div id="about_me_div_6">
            <div class="content-social-media">
                <h1>{% trans 'درباره تارنمای فودینو' %}</h1>
                <p class="text-center">
                    {% trans 'برای اطلاع داشتن از دوره ها، شگفتانه ها، جوایز و حتی شروع همکاری با ما می توانید با روش های زیر با ما در ارتباط باشید:' %}
                </p>
            </div>
            <div class="social-box-1">
                <a href="https://t.me/foodino" target="_blank" rel="nofollow">
                    <img src="/media/images/main/about_me/social_media/tel.png" alt="telegram">
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <img src="/media/images/main/about_me/social_media/ins.png" alt="instagram">
                </a>
                <a href="/contact-us/">
                    <img src="/media/images/main/about_me/social_media/em.png" alt="email">

                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <img src="/media/images/main/about_me/social_media/in.png" alt="linkdin">
                </a>
            </div>
        </div>
        <div id="about_me_div_7">
            <div class="content-why-foodino">
                <h2>چرا فودینو</h2>
                <ul>
                    <li>{% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.' %}</li>
                    <li>{% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.' %}</li>
                    <li>{% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.' %}</li>
                    <li>{% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.' %}</li>
                    <li>{% trans 'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.' %}</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock main %}
    