{% extends 'main_template.html' %}
{% load translate %}
{% load i18n %}
{% block title %}قوانین و مقررات{% endblock title %}
{% block header %}{% endblock header %}
{% block main %}
<section>
    <div class="title">
        <h1>{% trans 'قوانین و مقررات سایت فودینو' %}</h1>
    </div>
    <div>
        <div>
            <h2>{% trans 'تعاریف' %} :</h2>
            <ul>
                <li><p>{% trans 'آریا نرم افزار : شرکت آریا نرم افزار ملایر با شناسه ملی 10820042045 و شماره ثبت 1330 مجری سایت درسمن می باشد.' %}</p></li>
                <li><p>{% trans 'مدرس : هر شخص حقیقی است که طی عقد قراردادی با شرکت یک یا چند دوره آموزشی را تدریس می نماید.' %}</p></li>
                <li><p>{% trans 'دوره آموزشی : هر دوره آموزشی شامل یک یا چند جلسه، آموزش مفاهیم دروس و رشته های مختلف به صورت دسته بندی شده در قالب فایل ویدیویی می باشد.' %}</p></li>
                <li><p>{% trans 'درس : هر جلسه آموزشی در یک دوره، درس نامیده می شود.' %}</p></li>
                <li><p>{% trans 'کاربر : هر شخص حقیقی که در سایت ثبت نام کرده، دوره یا جلسات آموزشی را خریداری و مشاهده نماید. همچنین مقالات، اخبار و دیگر صفحات سایت را بازدید کند.' %}</p></li>
                <li><p></p></li>
            </ul>
        </div>
        <div>
            <h2>{% trans 'قوانین عمومی' %} :</h2>
        </div>
    </div>
</section>
{% endblock main %}