.wheel-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 23px;
}
.wheel-container{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wheel-container .wheel-spin{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.wheel-container .wheel-spin::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background-color: #fff;
    clip-path: polygon( 50% 0% , 15% 100% , 85% 100% );
}

.wheel-container .wheel{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    background-image: url('/media/images/wheel_of_luck/4452317.jpg');
    border-radius: 50%;
    box-shadow: 0 0 0 5px #333 ,
    0 0 0 15px #fff,
    0 0 0 18px #ff9100;
    transition: transform 5s ease-in-out;
}

.wheel-container .wheel .number-wheel{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--background_color);
    color: var(--color);
    transform-origin: bottom right;
    transform: rotate(calc(360deg / var(--ndeg) * var(--i) ));
    clip-path: polygon(0 0, 60% 0, 100% 100%,0 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.wheel-container .wheel .number-wheel span{
    position: relative;
    transform: rotate(298deg);
    font-size: 1.2rem;
    height: 100px;
}