<div class="social-box social-box-with-image">
    <a href="https://t.me/foodino" target="_blank" rel="nofollow">
        <img src="/media/images/main/about_me/social_media/tel.png" alt="telegram">
    </a>
    <a href="#" target="_blank" rel="nofollow">
        <img src="/media/images/main/about_me/social_media/ins.png" alt="instagram">
    </a>
    <a href="/contact-us/">
        <img src="/media/images/main/about_me/social_media/em.png" alt="email">

    </a>
    <a href="#" target="_blank" rel="nofollow">
        <img src="/media/images/main/about_me/social_media/in.png" alt="linkdin">
    </a>
</div>