{% load translate %}
{% load i18n %}
<div class="back-fead">
    <div class="chat-box-header">
        <div style="display: inline">
            <span>{% trans 'پشتیبانی سایت فودینو' %}</span>
        </div>
        <div class="chat-box-close">
            <i class="fa fa-times"></i>
        </div>
    </div>
        <div class="text-center">
            <div>
                {% csrf_token %}
                <input type="text" class="input" id="id_chat_room_full_name" placeholder="{% trans 'نام و نام خانوادگی خود را وارد کنید.' %}" title="{% trans 'لطفا نام و نام خانوادگی خود را وارد کنید.' %}" required >
            </div>
            <div>
                <input type="text" class="input" id="id_chat_room_phone_number" placeholder="{% trans 'شماره تماس خود را وارد کنید.' %}" title="{% trans 'لطفا شماره تماس خود را وارد کنید.' %}" required>
            </div>
            <div>
                <div>
                    <p>{% trans 'لطفا آواتار خود را انتخاب کنید.' %}</p>
                </div>
                <div>
                    <div class="flex" style="justify-content: space-evenly;">
                        <div>
                            <input type="radio" name="avatar" id="avatar_id_1" value="images/avatar/avatar_1.png" checked class="radio-input hidden">
                            <label for="avatar_id_1"><img src="{{media}}images/avatar/avatar_1.png" alt="avatar_1" class="profile"></label>
                        </div>
                        <div>
                            <input type="radio" name="avatar" id="avatar_id_2" value="images/avatar/avatar_2.png" class="radio-input hidden">
                            <label for="avatar_id_2"><img src="{{media}}images/avatar/avatar_2.png" alt="avatar_2" class="profile"></label>
                        </div>
                    </div>
                    <div class="flex" style="justify-content: space-evenly;">
                        <div>
                            <input type="radio" name="avatar" id="avatar_id_3" value="images/avatar/avatar_3.png" class="radio-input hidden">
                            <label for="avatar_id_3"><img src="{{media}}images/avatar/avatar_3.png" alt="avatar_3" class="profile"></label>
                        </div>
                        <div>
                            <input type="radio" name="avatar" id="avatar_id_4" value="images/avatar/avatar_4.png" class="radio-input hidden">
                            <label for="avatar_id_4"><img src="{{media}}images/avatar/avatar_4.png" alt="avatar_4" class="profile"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-show-all" onclick="add_user_from_chat_room()" id="id_start_chat">{% trans 'شروع چت' %}</a>
            </div>
        </div>
</div>