{% extends 'main_template.html' %}
{% load static %}
{% load translate %}
{% load i18n %}
{% block title %}{% trans 'تغییر رمز عبور' %}{% endblock title %}
{% block header %}
{% endblock header %} 
{% block main %}
<div class="container">
    <form action="" method="post">
        <div class="form-box">
            <div>
                <h1>{% trans 'تغییر رمز عبور' %}</h1>
            </div>
            {% csrf_token %}
            <div>
                <label for="id_password">{% trans 'رمز عبور:' %}</label>
            </div>
            <div>
                <div class="password-flex" error_address="id_password">
                    {{form.password}}
                    <div class="eye-btn" onclick="show_password('id_password')"><i class="fa fa-eye" id="icon_eye_id_password"></i></div>
                </div>
                <ul>
                    <li class="error-message hidden"></li>
                </ul>
            </div>
            <div>
                <label for="id_re_password">{% trans 'تکرار رمز عبور:' %}</label>
            </div>
            <div>
                <div class="password-flex" error_address="id_re_password">
                    {{form.re_password}}
                    <div class="eye-btn" onclick="show_password('id_re_password')"><i class="fa fa-eye" id="icon_eye_id_re_password"></i></div>
                </div>
                <ul>
                    <li class="error-message hidden"></li>
                </ul>
            </div>
            
            <div>
                <input type="submit" value="{% trans 'ثبت' %}" style="margin-top: 10px;">
            </div>
        </div>
    </form>
</div>
{% endblock main  %}
{% block script %}
    <script>
        let input_submit_element = document.querySelector("input[type='submit']")
        input_submit_element.disabled = true
        let password_flag  = true
        let re_password_flag  = true
        function password_checker() {
            let element = document.querySelector('input[name="password"]')
            let value = element.value
            let label_element = document.querySelector(`label[for="${element.id}"]`)
            let error_box_message = document.querySelector(`div[error_address='${element.id}']+ul li`)
            if (value.length<=8 || value.length >= 16) {
                label_element.classList.add('error-label')
                label_element.classList.replace('correct-label','error-label')
                element.classList.add('no-valid');
                error_box_message.classList.replace('hidden','show')
                if (value.length == 0){
                password_flag = false
                error_box_message.innerText="{% trans 'این فیلد نباید خالی باشد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
                }
                else if (value.length <= 7 || value.length > 16){
                password_flag  = false
                error_box_message.innerText="{% trans 'رمز عبور باید 8 الا 16 کارکتر باشد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
                }
                else{
                password_flag =true
                }
                if(password_flag === true){
                label_element.classList.replace('error-label','correct-label')
                element.classList.replace('no-valid','valid')
                error_box_message.classList.replace('show','hidden')
                }
                if (password_flag === true && re_password_flag === true) {
                input_submit_element.disabled = false;
                }
                else{input_submit_element.disabled = true;}                                            
            }
        }
        function re_password_checker() {
            let element = document.querySelector('input[name="re_password"]')
            let password_element = document.querySelector('input[name="password"]')
            let value = element.value
            let label_element = document.querySelector(`label[for="${element.id}"]`)
            let error_box_message = document.querySelector(`div[error_address='${element.id}']+ul li`)
            label_element.classList.add('error-label')
            label_element.classList.replace('correct-label','error-label')
            element.classList.add('no-valid');
            error_box_message.classList.replace('hidden','show')
            if (value.length == 0){
                re_password_flag = false
                error_box_message.innerText="{% trans 'این فیلد نباید خالی باشد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
            }
            else if (password_element.value !== value){
                re_password_flag = false
                error_box_message.innerText="{% trans 'رمز عبور مطابقت ندارد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
            }
            else{
                re_password_flag =true
            }
            
            if(re_password_flag === true){
                label_element.classList.replace('error-label','correct-label')
                element.classList.replace('no-valid','valid')
                error_box_message.classList.replace('show','hidden')
            }
            if (password_flag === true && re_password_flag === true) {
                input_submit_element.disabled = false;
            }
            else{input_submit_element.disabled = true;}
            
        }
        document.querySelector('input[name="password"]').addEventListener('input',function(){password_checker()})
        document.querySelector('input[name="re_password"]').addEventListener('input',function(){re_password_checker()})
    </script>
{% endblock script %}