{% extends 'main_template.html' %}\
{% load i18n %}
{% load static %}
{% load translate %}
{% block title %}{% if user_gifts|length > 1 %}{{'پیام‌های من'|translate}}{% else %}{{'پیام من'|translate}}{% endif %}{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/frequently_asked_questions.css' %}">
{% endblock stylesheet %}
{% block header %}
<div class="header-background-image" style="--header_image_address: url('/media/images/account/gifts/header.jpg');"></div>
{% endblock header %}
{% block main %}
<section>
    <div>
        {% if user_messages %}
        <div class="title">
        {% if user_messages|length > 1 %}
        <h1>{{'پیام‌های من'|translate}}</h1>
        {% else %}
        <h1>{{'پیام من'|translate}}</h1>
        {% endif %}
        </div>
        {% for user_message in user_messages %}
        <div class="frequently-asked-question">
            <div>
                <div><i class="fa fa-angle-left"></i></div>
                <div><h2>{{user_message.subject|translate}}</h2></div>
            </div>
            <div class="frequently-asked-question-response-hidden">
                <div>
                    {% autoescape off %}
                    {{user_message.description|translate}}
                    {% endautoescape %}
                </div>
                <div>
                    <a href="" class="btn btn-show-more frequently-btn">فعال سازی</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="title-model-1">
            <p>{{'سوالی و پاسخی وجود ندارد.'|translate}}</p>
        </div>
        {% endif %}
    </div>
</section>
<section>
{% include 'partials/social_media.html' %}
</section>
{% endblock main %}
{% block script %}
<script src="{% static 'js/frequently_asked_questions_scripts.js' %}" type="text/javascript"></script>
{% endblock script %}
