{% extends 'main_template.html' %}
{% load translate %}
{% load i18n %}
{% block title %}{% trans 'تایید شماره موبایل' %}{% endblock title %}
{% block header %}{% endblock header %}
{% block main %}
<div class="container">
    <form action="" method="post">
        <div class="form-box">
            <div>
                <h1>{% trans 'تایید شماره موبایل' %}</h1>
            </div>
            {% csrf_token %}
            <div>
                <div>
                    <label for="id_mobile_number">{% trans 'شماره موبایل:' %}</label>
                </div>
                <div>
                  <div error_address="id_mobile_number">
                    {{form.mobile_number}}
                  </div>
                  <ul>
                      <li class="error-message hidden"></li>
                  </ul>
                </div>
            </div>
            <div>
                <input type="submit" value="{% trans 'تایید' %}">
            </div> 
        </div>
    </form>
</div>
{% endblock main  %}
{% block script %}
    <script>
        let input_submit_element = document.querySelector("input[type='submit']")
        let mobile_number_flag  = true
        function mobile_number_checker() {
            let element = document.querySelectorAll('input[name="mobile_number"]')[0]
            let value = element.value
            let label_element = document.querySelector(`label[for="${element.id}"]`)
            let error_box_message = document.querySelector(`#${element.id}+ul li`)
            if (value.length<=11 || value.length>=11) {
              label_element.classList.add('error-label')
              label_element.classList.replace('correct-label','error-label')
              element.classList.add('no-valid');
              error_box_message.classList.replace('hidden','show')
              if (value.length == 0){
                mobile_number_flag  = false
                error_box_message.innerText="{% trans 'این فیلد نباید خالی باشد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
              }
              else if (value[0] !== '0'){
                mobile_number_flag  = false
                error_box_message.innerText="{% trans 'ابتدای شماره موبایل باید صفر باشد.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
              }
              else if (value.length <= 10 || value.length > 11){
                console.log(value.length);
                mobile_number_flag  = false
                error_box_message.innerText="{% trans 'شماره موبایل نادرست است.' %}"
                navigator.vibrate([100, 200,100]);
                input_submit_element.disabled = true;
              }
              else{
                mobile_number_flag =true
              }
              if(mobile_number_flag === true){
                console.log('ok');
                label_element.classList.replace('error-label','correct-label')
                element.classList.replace('no-valid','valid')
                error_box_message.classList.replace('show','hidden')
              }
              if (mobile_number_flag === true) {
                input_submit_element.disabled = false;
              }
              else{input_submit_element.disabled = true;}
            }
          }      
        document.querySelectorAll('input[name="mobile_number"]')[0].addEventListener('input',function(){mobile_number_checker()})
    </script>
{% endblock script %}